@import '../../../../styles/common.less';

.configWrap {
  width: 100%;
  height: 300px;
  display: flex;
  padding: @base-px*5 @base-px*2;

  .configTitle {
    font-size: 18px;
    color: @date-font-color;
    font-weight: bold;
    margin-bottom: @base-px*2;
  }

  .subTitle {
    font-size: @base-px*4;
    color: @sub-font;
    font-weight: bold;
    margin-bottom: @base-px*2;
    margin-top: @base-px*2;
  }

  .configItem {
    display: flex;
    width: 80%;

    .urlLabel {
      width: 18 * @base-px;
      text-align: right;
      line-height: @base-px*8;
      font-size: @base-px*4;
    }
    .searchInput {
      width: 100%;
      text-align: left;
      padding-left: @base-px;

      input {
        height: @base-px*8;
      }
    }
    .confirmBtn {
      margin-left: @base-px*2;
    }
  }
}
