@import '../../../../styles/common.less';

.configWrap {
  width: 20%;
  padding: @base-px*5 @base-px*2;

  .configTitle {
    font-size: 18px;
    color: @date-font-color;
    font-weight: bold;
    margin-bottom: @base-px*2;
  }

  .subTitle {
    font-size: @base-px*4;
    color: @sub-font;
    font-weight: bold;
    margin-bottom: @base-px*2;
    margin-top: @base-px*2;
  }

  .configItem {
    display: flex;

    span {
      width: 20%;
      text-align: right;
      line-height: @base-px*6;
      font-size: @base-px*4;
    }
    div {
      width: 80%;
      text-align: left;
      padding-left: @base-px;

      input {
        height: @base-px*6;
      }
    }
  }
}
